.logo {
  display: flex;
  justify-items: center;
  background-image: url('img/antifascist-action.svg');
  background-repeat: no-repeat;
  height: 1000px;
  width: 1000px;
}

.logo-text {
  display: flex;
  margin: 0;
  color: white;
  font-size: 80px;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}

#top-text {
  padding-left: 50%;
}

#bottom-text {
  /* padding-top: 80%; */
  align-self: flex-end;
}
