#logo {
  display: flex;
  justify-items: center;
}

.logo-text {
  display: flex;
  margin: 0;
  color: red;
  font-size: 80px;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}

#top-text {
}

#bottom-text {
  /* padding-top: 80%; */
  /* align-self: flex-end; */
}
